*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

.header .container{
    display: flex;
    align-items: center;
    gap: 36px;
}

.header{
    padding: 39px 0 38px;
}

.highlight-text__grey{
    color: #B3B3B3;
}

.dark_grey{
    color: #37373F;
}


.promo{
    height: 100vh;
    background: url('../src/assets/img/helimain.svg') center center/cover no-repeat;
    padding: 286px 0 260px;
}



.promo__title{
    width: 887px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.yellow{
    color: #FC9B09;
}



.promo__price{
    width: 224px;
    height: 96px;
    margin-top: 29px;
    background-color: #FC9B09;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.156%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.promo__text{
    padding: 11px 0 26px;
    text-align: center;
    margin-left: 23px;
}

.promo__price span{
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
}

.promo__price img{
    margin-right: 10px;
}


.promo__price::after{
    position: absolute;
    content: '';
    border: 17px solid transparent;
    border-top: 12px solid #FC9B09;
    bottom: -29px;
    left: 120px;
}
 
.promo__price .promo_procent{
    font-size: 35px;
    font-weight: 800px;
}

.promo__reserve{
    width: 304px;
    height: 68px;
    margin-top: 20px;
    background: none;
    border-radius: 3px;
    border: 3px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 70px 0px rgba(255, 255, 255, 0.70);
}


.photoshoot{
    height: 100vh;
    padding: 70px 0 27px;
}

.photoshoot__items{
    display: flex;
    justify-content: space-between;
}

.photoshoot__item1{
    width: 549px;
}

.photoshoot__title{
    color: #37373F;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.photoshoot__descr{
    margin-top: 18px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.28%;
}

.photoshoot__images{
    margin-top: 21px;
}

.photoshoot__list{
    position: relative;
    list-style: none;
    line-height: 40px;
}

.photoshoot__list span{
    position: absolute;
    margin-left: 8px;
}










.organizer{
    height: 100vh;
    padding: 37px 0 101px;
}

.organizer__items{
    display: flex;
    justify-content: space-between;
}
.organizer .organizer__bio{
    width: 584px;
}





.organizer__title{
    color: #37373F;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}


.organizer__descr{
    margin-top: 14px;
    color: #37373F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.156%;
}

.organizer__link{
    color: #5286EC;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.organizer__link img{
    color: #C7C7C7;
}

.organizer_bio2{
    margin-top: 40px;
}

.organizer__ivanova{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.organizer__texts{
    width: 290px;
    text-align: center;
}

